.make-log
.changed-files
.make-log.txt
*.got.*
e2e_report.html
bin
out
d2
claude.md
*.claude.md
claude-*

# https://github.com/golang/go/blob/8b67cf0bc6ad657fddcbaaa10729d0086f08f9a9/src/cmd/go/internal/test/test.go#L415-L416
e2etests.test
.DS_Store
